/* You can add global styles to this file, and also import other style files */
.hover-ach:hover {
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
app-todo-item {
  border-radius: 5px;
}
